<!DOCTYPE html>
<html>

<head>
<link href='http://fonts.googleapis.com/css?family=Cinzel:400,700,900' rel='stylesheet' type='text/css'>
</head>

<body data-no-turbolink='true'>

<video autoplay loop muted id="bgvid">

    <source src="/assets/dronevid3.mp4" type="video/mp4">
</video>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="droneshop">
	<strong>The Drone Shop</strong>
</div>
</body>
</html>