<!DOCTYPE html>
<html>

<head>
	<% stylesheet_link_tag 'home.css' %>
</head>

<body>

	<div class="header">
		<h1>Homepage</h1>
	</div>

	<div class="columnleft">


		<a href="/store">
			<img class="img1" src="assets/dronepic1.jpeg" />
			<div>	
				<h1>Store</h1>
			</div>
		</a>
	</div>

	<div class="columnright">
		 <a href="#">
			<img class="img2" src="assets/dronesitepic.jpeg" />
			<h1>Gallery</h1>
		</a>
	</div>

	<div class="footer">
		Footer
	</div>
</body>
</html>