<%= stylesheet_link_tag 'scrolla.css' %>


<div class="forsale">
	Images taken by drones
</div>
<br>
<div id="cbp-fbscroller" class="cbp-fbscroller">
	<section id="fbsection1"></section>
	<section id="fbsection2"></section>
	<section id="fbsection3"></section>
	<section id="fbsection4"></section>
	<section id="fbsection5"></section>
	<section id="fbsection6"></section>
	<section id="fbsection7"></section>
	<section id="fbsection8"></section>
	<section id="fbsection9"></section>
	<section id="fbsection10"></section>
</div>